body{
    font-family: $main-font;
    background-color: $primary-background-color;
    color: $primary-text-color;
    
}
    
body.modal-open{
    overflow: hidden;
}

body.menu-open {
    overflow: hidden;
}