.clients{
    @media screen and (min-width: $desktop){
        display: $type;
    }
}

.clients__list {
    @media screen and (min-width: $mobile){
        display: $type;
        flex-wrap: wrap;
    }
    
}

.clients__item {
    @media screen and (min-width: $desktop){
    margin-right: 30px;
    margin-left: 0;
    padding: 0;

    &:last-child{
        margin-right: 0;
    }
}
    @media screen and (min-width: $mobile) {
        width: 50%;
    }
}

.clients__link {
    @media screen and (min-width: $mobile) {
        height: 92px;
    }

    @media screen and (min-width: $desktop){
        width: 170px;
        height: 92px;
    }

    @include flexCenter;

    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: $main-icons-color;

    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        fill: $accent-color;
        border-color: $accent-color;
    }
}

.clients__icon {
    margin: 0;
    padding: 0;
    
    max-width: 100%;
    display: block;
}
