.clients__list {
    @media screen and (max-width: $max-mobile){
        display: $type;
        flex-wrap: wrap;
        margin: -15px;
    };
    @media screen and (max-width: $max-tablet){
        display: $type;
        flex-wrap: wrap;
        margin: -15px;
    }
    @media screen and (min-width: $min-desktop) {
        display: $type;
        margin: -15px;
    }
}

.clients__item {
    @media screen and (max-width: $max-mobile) {
        width: calc((480px - 60px) / 2);
        margin: 15px;
    }

    @media screen and (min-width: $min-tablet){
        width: calc((768px - 90px) / 3);
        margin: 15px;
    }

    @media screen and (min-width: $min-desktop){
        width: calc((1200px - 180px) / 6);
        margin-right: 30px;
    
    }
}

.clients__link {
    @include flexCenter;

    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: $main-icons-color;

    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        fill: $accent-color;
        border-color: $accent-color;
    }
}

.clients__icon {
    margin: 0;
    padding: 0;
    
    max-width: 100%;
    display: block;
}
