.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $min-mobile){
        width: 480px;
        background-color: violet;
    }

    @media screen and (min-width: $min-tablet){
        width: 768px;
        background-color: blue;
    }

    @media screen and (min-width: $min-desktop){
        width: 1200px;
        background-color: orange;
    }
}