.feature {
    @media screen and (min-width: $desktop){
        display: $type;
    }

    @media screen and (min-width: $tablet) {
        display: $type;
        flex-wrap: wrap;
    }
}



.feature__thumb {
    margin-top: 0;
    margin-bottom: 30px;

    background-color: #F5F4FA;
    height: 120px;
    

    @include flexCenter;
}

.feature__icon{
    display: block;
}

.feature__item{
    &:not(:last-child){
    @media screen and (min-width: $mobile){
        margin-bottom: 30px;
    }
    }
    @media screen and (min-width: $mobile){
        width: 450px;
    }

    @media screen and (min-width: $tablet) {
        width: 354px;
    }
    
    &:nth-child(2n-1){
    @media screen and (min-width: $tablet){
        margin-right: 30px;
    }
    }

    @media screen and (min-width: $desktop){
        width: calc((1170px - 90px) / 4);
        
    }

    &:not(:last-child) {
    @media screen and (min-width: $desktop) {
        margin-right: 30px;
    }
}
}

.feature__title {
    margin-top: 0;
    margin-bottom: 10px;

    color: $title-text-color;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @media screen and (min-width: $mobile){
        text-align: center;
    }

    @media screen and (min-width: $tablet) {
        text-align: left;
    }

    @media screen and (min-width: $desktop){
        text-align: left;
    }
}

.feature__text {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}