.follow {

    @media screen and (min-width: $desktop){
        display: $type;
    }
}


.follow-field {
    
    @media screen and (max-width: 767px) {
            margin-left: auto;
            margin-right: auto;
    }
        position: relative;
}

.follow-field__input {
    padding: 10px;

    @media screen and (max-width: 767px){
        margin-bottom: 20px;
    }

    width: 358px;
    height: 50px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background: $secondary-background-color;
    color: $minor-color;

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus{
        border: 1px solid $accent-color;
            outline: none;
    }
}

.follow-field__label {
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    left: 16px;
    top: 50%;
    transform: translateY(-50%);

    .follow-field__input:focus + &{
        opacity: 0;
    }

    .follow-field__input:not(:placeholder-shown) + &{
        opacity: 0;
    }
}

.follow__button {
    margin-left: 12px;

    width: 200px;
    height: 50px;

    @include flexCenter;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    background: $accent-color;
    border: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    letter-spacing: 0.06em;
    cursor: pointer;

    color: $minor-color;

    transition-property: filter, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        filter: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.2));
        background-color: #188CE8;
    }
    @media screen and (max-width: 767px){
        margin-left: auto;
        margin-right: auto;
    }
}

.follow__button-icon {
    display: block;
    margin-left: 10px;
}