.header-social{
    @media screen and (max-width: 479px){
        display: $type;
        flex-wrap: wrap;
    }
    @media screen and (min-width: $min-mobile) and (max-width: $max-mobile){
        display: $type;
        margin-left: 40px;
    }

    @media screen and (min-width: $min-tablet){
        display: none;
    }

}

.header-social__item{
    &:not(:last-child) {
            border-right: 1px solid rgba(33, 33, 33, 0.2);
            padding-right: 10px;
            margin-right: 10px;
        }
}

.header-social__link{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $accent-color;
}