.header-logo  {
    @media screen and (min-width: $mobile) {
        padding-top: 16px;
        padding-bottom: 16px;
        font-size: 24px;
        line-height: 1.16;
    };

    @media screen and  (min-width: $tablet) {
        padding-top: 26px;
        padding-bottom: 26px;
        font-size: 24px;
        line-height: 1.16;
    };

    @media screen and (min-width: $desktop){
        padding-top: 24px;
        padding-bottom: 25px;
        margin-right: 92px;
        font-size: 28px;
        line-height: 1.11;
    };

    color: $title-text-color;
    display: block;

    @include logo;
}

.logo-accent{
    color: $accent-color;
}

.footer-logo {
    padding: 0;
    margin-bottom: 20px;

    display: block;
    color: $minor-color;

    @media screen and (min-width: $mobile) {
            padding-top: 16px;
            padding-bottom: 16px;
            font-size: 24px;
            line-height: 1.16;
            text-align: center;
        }
        ;
    
        @media screen and (min-width: $tablet) {
            padding-top: 26px;
            padding-bottom: 26px;
            font-size: 24px;
            line-height: 1.16;
        }
    
        ;
    
        @media screen and (min-width: $desktop) {
            padding-top: 24px;
            padding-bottom: 25px;
            margin-right: 92px;
            font-size: 28px;
            line-height: 1.11;
        }
    
        ;
    
    @include logo;
}
