.main-nav {
    display: flex;
    width: 100%;
    

    @media screen and (max-width: $max-mobile) {
        display: none;
        position: absolute;
        flex-direction: column;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: $primary-background-color;
        z-index: 2;
        padding-top: 48px;
        padding-right: 83px;
        padding-bottom: 48px;
        padding-left: 40px;
        flex-direction: column;
        justify-content: space-between;
        }

    @media screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
        align-items: center;
    }

    @media screen and (min-width: $min-desktop) {
        align-items: baseline;
    }

    &.is-open {
        @media screen and (max-width: $max-mobile) {
            height: 100vh;
            display: flex;
            
    }

    &.no-scroll{
        overflow-y: hidden;
    }
}
}

.header-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-menu{
    @media screen and (max-width: $max-mobile){
        display: inline-flex;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
        z-index: 3;
    }

    @media screen and (min-width: $min-tablet){
        display: none;
    }

    @media screen and (min-width: $min-desktop){
        display: none;
    }

        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover{
        fill: $accent-color;
    }
}

.button-menu .menu__icon-close {
    display: none;
}

.button-menu.is-open .menu__icon-close {
    display: block;
}

.button-menu.is-open .menu__icon-menu {
    display: none;
}

.button-menu .menu__icon-menu {
    display: block;
}