.button-menu{
    @media screen and (min-width: $min-mobile){
        display: inline-flex;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    @media screen and (min-width: $min-tablet){
        display: none;
    }

    @media screen and (min-width: $min-desktop){
        display: none;
    }

        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover{
        fill: #2196F3;
    }
}

.button-menu .menu__icon-close{
    display: none;
}

.button-menu.is-open .menu__icon-close{
    display: block;
}

.button-menu.is-open .menu__icon-menu{
    display: none;
}
