.section-servises {
    @media screen and (max-width: $max-tablet) {
        display: none;
    }

}
.services__list {
    @media screen and (min-width: $min-desktop) {
        display: $type;
        margin: -15px;
    }
}

.services__image {
    display: block;
    width: 100%;
}

.services__item {
    @media screen and (min-width: $min-desktop){
        width: calc((100% - 90px) /3);
        margin: 15px;
    }
    
}

.services__thumb {
    position: relative;

}

.services__name {
    padding: 27px 0;
    margin: 0 auto;
    bottom: 0;

    position: absolute;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $minor-color;
    background: rgba(47, 48, 58, 0.8);
}