.site-nav {

    @media screen and (min-width: $min-tablet) {
        display: $type;
    };

    @media screen and (min-width: $min-desktop) {
        display: $type;
    };
}

.site-nav__item {

    &:not(:last-child){
    @media screen and (min-width: $min-tablet){
        margin-right: 50px;
    }
}
}

.site-nav__link {
    @media screen and (max-width: $max-mobile) {
            display: block;
            padding: 0;
            margin-bottom: 32px;
    }
    @media screen and (min-width: $min-tablet){
        padding-top: 32px;
        padding-bottom: 32px;
    }
    

    display: block;
    position: relative;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: $max-mobile) {
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        text-align: center;
        letter-spacing: 0.02em;
        text-align: left;
        
    }

    color: $title-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $accent-color;
        }

    &--current {
        color: $accent-color;        
        }

    &--current::after {
        position: absolute;
        content: "";
        display: block;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: $accent-color;
        @media screen and (max-width: $max-mobile) {
                display: none;
            }
    }
}
