.members {
    background-color: #F5F4FA;
}

.members__list {
    @media screen and (min-width: $min-mobile){
        margin: -15px;
    }

    @media screen and (max-width: $max-tablet){
        display: $type;
        flex-wrap: wrap;
        margin: -15px;
    }
    @media screen and (min-width: $min-desktop){
        display: $type;
        margin: -15px;
    }

}

.members__item {
    padding: 0;
    box-sizing: border-box;
    background-color: $primary-background-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
        @media screen and (max-width: $max-mobile) {
            margin-bottom: 30px;
        }

        
    };

    @media screen and (min-width: $min-mobile){
        width: 450px;
        margin: 15px;
    };

    @media screen and (min-width: $min-tablet){
        width: calc((768px - 60px) / 2);
        margin: 15px;
    };

    @media screen and (min-width: $min-desktop){
        width: calc((1200px - 120px) /4);
        margin: 15px;
    };
}    

.members__photo{
    display: block;
    max-width: 100%;

    @media screen and (min-width: $min-mobile){
        width: 450px;
        height: 460px;
    }

    @media screen and (min-width: $min-tablet){
        width: 354px;
        height: 374px;
    }

    @media screen and (min-width: $min-desktop){
        width: 270px;
        height: 260px;
    }
}

.members__information {
    @media screen and (min-width: $min-mobile){
        padding-top: 30px;
        padding-bottom: 24px;
    };
    @media screen and (min-width: $min-tablet){
        padding-top: 30px;
        padding-bottom: 24px;
    };
    @media screen and (min-width: $min-desktop){
        padding-top: 30px;
        padding-bottom: 30px;
    };
}

.members__name {
    margin-top: 0;
    margin-bottom: 10px;

    color: $title-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
}

.members__position {
    margin-top: 0;
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
}

